@import "nord.scss";
@import 'config';
@import 'menu';

* {
	box-sizing: border-box;
}

body {
	background: $primary-color;
	color: white;
	height: 100%;
	margin: 0;
	font-family: 'Fira Code', monospace;
	line-height: 1.5;
}

// Profile Image
.profile {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	border: solid 3px $secondary-color;
}
// Headings
h1, h2, h3 {
	margin: 0;
	font-weight: 500;

	&.lg-heading {
		font-size: 5rem;
	}
	&.sm-heading {
		font-size: 1.5rem;
		padding: 0.2rem 0rem;
		background: rgba(lighten($color: $primary-color, $amount: 0.5),0.5);
	}
}

a {
	color: white;
	text-decoration: none;

	&:hover {
		color: $secondary-color;
	}
}

header {
	position: fixed;
	z-index: 2;
	width: 100%;
}

.text-second {
	color: $secondary-color;
}

main {
	padding: 4rem;
	height: 100%;
	min-height: calc(100vh - 60px);

	.icons {
		margin-top: 1rem;

		a {
			padding: 0.4rem;
			&:hover {
				padding: 1rem;
				color: $secondary-color;
				@include easeOut();
			}
		}
	}
	&#home {
		overflow: hidden;
		h1 {
			margin-top: 5vh;
		}
		
		img {
			margin-top: 5vh;
		}
	}
}

// About Page
.about-info {
	margin-top: 1vh;
	display: grid;
	grid-gap: 20 px;
	grid-template-areas: 'bioimage bio bio bio' 'job1 job1 job2 job2';
	grid-template-columns: repeat(4,4fr);
}

.bio-profile {
	grid-area: bioimage;
	margin: auto;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: solid 2px $secondary-color;
}

.bio {
	grid-area: bio;
}

.job {
	margin-top: 1vh;
	background: lighten($primary-color, 5);
	h3 {
		color: $nord8;
	}

	h6 {
		color: $nord14;
	}
	padding: 0.5rem;
}

.job-1 {
	grid-area: job1;
}

.job-2 {
	grid-area: job2;
}

#main-footer {
	text-align: center;
	padding: 1rem;
	background: darken($primary-color, 10);
	color: $primary-color;
	height: 60px;
}

// Contact Page
.boxes {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 1rem;

	div {
		font-size: 1rem;
		border: 3px white solid;
		padding: 1.5rem 2.5rem;
		margin-bottom: 3rem;
		@include easeOut;

		&:hover {
			padding: 0.5rem 1.5rem;
			background: $secondary-color;
			color: $primary-color;

			span {
				color: $primary-color
			}
		}
	}
}


@import 'mobile';